* {
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.output {
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.output h1 {
    font-size: 34px;
    font-weight: bolder;
}

/* Cursor Styling */

.cursor::after {
    content: "";
    display: inline-block;
    margin-left: 3px;
    background-color: grey;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

h1.cursor::after {
    height: 24px;
    width: 13px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
